{% extends "base.html" %}
{% block title %}{{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    {% include "includes/author.html" %}
  </div>
    <div class="col-md-9">
      <div class="card mb-3 mt-1 shadow-sm">
        <!-- Вот он, новый include! -->
        {% include "includes/post_item.html" with post=post %}
      </div>
      {% include "includes/comments.html" %}
    </div>
      {% include "includes/paginator.html" with items=page paginator=paginator %}
</main>
{% endblock %}